@using System.Linq
@model System.Collections.Generic.IEnumerable<Lab4.Models.Movie>

@{
    ViewData["Title"] = "Home";
}

<div class="mt-5">
    <h2>Current Movies</h2> 
</div>
<hr/>

@if (Model == null || !Model.Any())
{
    <p class="center">Currently, there are no models in the database.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="border-top-0"></th>
                <th class="border-top-0">Movie Title</th>
                <th class="border-top-0">Movie SubTitle</th>
                <th class="border-top-0">Description</th>
                <th class="border-top-0">Year</th>
                <th class="border-top-0">Rating</th>
                <th class="border-top-0"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.MovieId" class="btn btn-sm btn-primary">
                            Edit
                        </a>
                    </td>
                    <td>@movie.Title</td>
                    <td>@movie.SubTitle</td>
                    <td>@movie.Description</td>
                    <td>@movie.Year</td>
                    <td>@movie.Rating/5</td>
                    <td>
                        
                        <a onclick="return confirm('Are you sure?');" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@movie.MovieId" class="btn btn-sm btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
}